<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - VINTAGE PROJECT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_inicio.css') }}">
</head>
<body>
    <h1>Bienvenido Admin</h1>
    <a href="{{ url_for('login') }}" class="btn-2">Cerrar sesion</a>
</body>
</html>
